---
import Layout from '../layouts/Layout.astro';
import {ExerciseContainer} from "../components/ExerciseContainer.jsx";
import NavNumber from "../components/NavNumber.astro";
import {Exercise1} from "../exercises/Exercise1.jsx";
import {Exercise2} from "../exercises/Exercise2.jsx";
import {Exercise3} from "../exercises/Exercise3.jsx";

---

<Layout>
	<header class="p-10 text-white text-center flex h-screen items-center flex-col gap-10 justify-center">
		<h1 data-aos="fade-down" data-aos-delay="200" class="font-bold text-6xl">Ejercicios typescript unidad 4</h1>
		<div class="flex items-center gap-4 justify-center" data-aos="fade-up" data-aos-delay="200">
			<img src="/david.jpeg" alt="David" class="rounded-full size-14" />
			<div class="flex flex-col text-start gap-1" >
				<h2 class="text-xl">David Pérez Fernández</h2>
				<span class="text-xs">Desarrollo de aplicaciones web entorno cliente</span>
			</div>
		</div>
	</header>
	<main class="grid grid-cols-[auto_1fr]" transition:animate="slide">
		<aside class="h-screen top-0 sticky p-5 py-28 flex flex-col items-center  justify-center gap-10">
			<div class="bg-white flex-col p-3 rounded-full">
				<img src="/astro_logo.png" alt="Logo" class="w-8 h-8" />
			</div>
			<nav class="bg-white w-20 flex-col p-2 flex justify-between h-full max-h-60 rounded-full">
				<NavNumber number="1" reference="#exercise-1" active={true} />
				<NavNumber number="2" reference="#exercise-2" />
				<NavNumber number="3" reference="#exercise-3" />
			</nav>
		</aside>
		<div class="p-10 flex flex-col gap-16">
			<Exercise1 client:load />
			<Exercise2 client:load />
			<Exercise3 client:load />
		</div>
	</main>

	<script>
		document.addEventListener("DOMContentLoaded", () => {
			const observer = new IntersectionObserver((entries) => {
				entries.forEach((entry) => {
					console.log(`ID: ${entry.target.id}, isIntersecting: ${entry.isIntersecting}, IntersectionRatio: ${entry.intersectionRatio}`);

					if (entry.isIntersecting) {
						console.log(`El contenedor visible es: ${entry.target.id}`);
						const navItem = document.querySelector(`a[href="#${entry.target.id}"]`);
						document.querySelectorAll("a").forEach((item) => {
							item.classList.remove("bg-blue-400", "text-gray-700", "text-2xl", "hover:border", "text-white");
							item.classList.add("bg-white", "text-gray-700", "text-lg", "hover:border");
						});
						navItem.classList.remove("bg-white", "text-gray-700", "text-lg", "hover:border");
						navItem.classList.add("bg-blue-400", "text-white", "text-2xl");
					}
				});
			}, { threshold: 0 });

			const containers = document.querySelectorAll("div[id^='exercise-']");
			containers.forEach((container) => observer.observe(container));
		});
	</script>
</Layout>
